<div class="wrap">
  <header class="ui-header">
    <h1 class="ui-header__heading">
      Categories
    </h1>
  </header>

  <section class="content">
    <div class="content__inner space-both">

      <h3 class="ui-heading--first ui-heading--highlight">
        Select the topics that interests you
      </h3>

      <category-set category-ctrl-obj="vm_quick_cat.fields.Categories" category-ctrl-callback="vm_quick_cat.send(event)" class="ui-category_set">

      </category-set>

    </div>
  </section>
</div>
