<div class="wrap theme-dark ">
	<section class="content">
    <div class="content__inner content__inner--login space-both">

			<h1 class="ui-heading--logo icon-logo">
        <!-- -->
      </h1>

      <form name="frm_login" novalidate angular-validator angular-validator-submit="vm_login.send($event)">
				<label class="ui-textfield icon-user">
          <!--
            ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/"
            invalid-message="'Invalid email'"
          -->

          <input type="text" name="username" placeholder="Email" autocorrect="off" autocapitalize="off"
            ng-model="vm_login.fields.username"
            validate-on="blur"
            required-message="'Email is required'"

            required
          >
        </label>

        <label class="ui-textfield icon-lock">
          <input type="password" name="password" placeholder="Password" autocorrect="off" autocapitalize="off"

                 ng-model="vm_login.fields.password"
                 ng-pattern="/.{6,}/"
                 validate-on="blur"
                 required-message="'Password is required'"
                 invalid-message="'Must be 6 letters'"

                 required
          >
        </label>

				<button type="submit" class="ui-button ui-button--block ui-button--spaced">Sign In</button>
			</form>

			<p class="ui-txt--center">
				<a href="#/access/forgot-password" title="Forgot password?">Forgot password?</a>
			</p>

		</div>
	</section>

	<footer class="ui-footer">
      Don’t have an account? <a href="#/access/registration" title="Register">Register</a>
  </footer>
</div>
